@model List<MCS.DTO.ManagerNavigationModel>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li class="nav-item @(item.IsOpen?"menu-open":"")">
            <a href="@(string.IsNullOrEmpty(item.Path)?"javascript:;":item.Path)" class="nav-link @(item.IsOpen?"active":"")">
                <i class="nav-icon fas @item.Icon"></i>
                <p>
                    @item.Name
                    @if (item.Children.Count > 0)
                    {
                        <i class="right fas fa-angle-left"></i>
                    }
                </p>
            </a>
            @if (item.Children.Count > 0)
            {
                <ul class="nav nav-treeview">
                    <partial name="_NavigationItem" for="@item.Children" />
                </ul>
            }
        </li>
    }
}